@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --font-weight1: 700;
  --font-weight2: 400;
  --bacground-color: #1e4681;
  --bacground-color1: #efefef;
  --bacground-color2: #9dc9c8;
  --bacground-color3: #000;
  --margin: 36px 0 0 35px;
  --margin-left: 35px;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.container-HeaderLogo {
  padding: 36px 0 0 35px;
  width: 52.189px;
  height: 30.754px;
}
.logos {
  display: flex;
  margin: 45px 0 0 35px;
  gap: 12px;
}
.logos span {
  display: flex;
  gap: 6px;
}
/* end */

/* start */
.container-h1-p-img1 {
  position: relative;
}
.container-h1-p h1 {
  margin-top: 8.06px;
  width: 292.631px;
  height: 88px;
  font-size: 37px;
  line-height: 101.385%;
  font-family: "Roboto Slab";
  font-weight: 700;
}

.container-h1-p {
  margin: 8px 0 0 35px;
}
.container-h1-p-img1 img {
  position: absolute;
  right: 105.34px;
  width: 141.656px;
  height: 165.886px;
}
/* end */
/* start */
.biography {
  width: 225.36px;
  height: 93.194px;
  background-color: var(--bacground-color);
  font-size: 11px;

  border-radius: 2.33px;
  padding: 8.97px 12.59px 31.57px 12.13px;
  color: #fff;
  margin: 213.71px 11.66px 0 41px;
}
.top {
  width: 200.642px;
  height: 52.655px;
  font-size: 11px;
}
.alt {
  margin: 6.92px 7.58px 3.38px 87.07px;
  width: 130.705px;
  height: 21.268px;
}
/* end */

/* start */
.course h1 {
  font-size: 32px;
  line-height: 101.38%;
  margin: 89px 0 0 35px;
  height: 43px;
}
.kinoCours {
  margin: 8.39px 30.53px 0 36px;
}
.kino {
  margin-bottom: 20px;
  width: 450px;
}
.cours {
  width: 425px;
}
.coursep1-p2-img img {
  margin-left: 187.12px;
  width: 146.315px;
  height: 146.781px;
}
/* end */
/* header end */

/* main start */
/* group24 start */
.group24 img {
  display: none;
}
.group24-h6-Text {
  display: flex;
  flex-direction: column;
  margin: 59px 0 0 35px;
}
.group24-h6-Text p {
  font-size: 10px;
  width: 89px;
}
.text1-text2 {
  display: flex;
  gap: 33px;
}
.text3 {
  margin-top: 34px;
}
/* group24 end */

/* format zabriti start */
.format h1 {
  font-size: 26px;
  line-height: 101.385%;
  margin: 156px 0 0 36px;
}
.vebinar123 {
  margin: 23px 0 0 35px;
}
.vebinar123 h5 {
  font-size: 12px;
  line-height: 130%;
  color: #1e4681;
}
.online {
  width: 300px;
  height: 58px;
  font-size: 13px;
}
.vebinar {
  width: 230px;
  height: 71px;
  font-size: 13px;
}
.time {
  width: 230px;
  height: 41px;
  font-size: 13px;
}
/* format zabriti end */

/*container-ul-li-h5 start */
.container-ul-li-h5 {
  margin: 73px 0 0 36px;
}
.container-ul-li-h5 h5 {
  height: 43px;
  font-size: 26px;
  line-height: 101.385%;
}
ul {
  margin: 9.66px 0 0 18px;
  font-size: 14px;
}
/* container-ul-li-h5 end */

/* cours start */
.cour h5 {
  margin: 55px 0 0 34px;
  font-size: 26px;
  line-height: 101.385%;
  height: 43px;
}
/* cours end */

/*container-Rectangle-h5-p start  */
.container-Rectangle-h5-p {
  margin: 35.66px 0 0 95px;
}

.rectangles {
  width: 185.923px;
  height: 163.839px;
  margin-bottom: 24.16px;

  border-radius: 13px;
  box-shadow: 0.466px 0.466px 6.99px 0px rgba(0, 0, 0, 0.25);
}
.rectangles h5 {
  font-size: 14px;
  margin-left: 9.32px;
  margin-bottom: 15px;
}
.rectangles p {
  margin-top: 0;
  font-size: 12px;
  margin-left: 8.85px;
}
/*container-Rectangle-h5-p end  */

/* footer start */
/* footerContainer start */
.footerContainer {
  background-color: var(--bacground-color1);
  height: 50%;
  width: 100%;
}
.footerContainer h5 {
  width: 257px;
  height: 69px;
  margin: 47px 0 0 36px;
  font-size: 26px;
  line-height: 101.385%;
  padding: 32px 0 0 0;
}
.ekatrina1 {
  margin: 21px 0 0 36px;

  width: 328px;
  height: 248px;

  border-radius: 13.979px;
  background: #fff;
  box-shadow: 0.466px 0.466px 9.319px 0px rgba(0, 0, 0, 0.25);
}
.ekatrina1 p {
  margin: 0 0 0 21px;
  padding-top: 18px;
  font-size: 10px;
  width: 266px;
  height: 11px;
}
.yekatrina-img-h5-icon {
  margin-top: 130px;
  margin-left: 21px;
  display: flex;
}
.imgsvg {
  width: 80px;
  height: 84px;
}
.h5-icon {
  margin: 13px 0 0 13px;
}
.h5-icon h4 {
  height: 32px;
  font-size: 14px;
  line-height: 101.385%;
}
/* footerContainer end */

/*footerContainer2 start  */
.footerContainer2 {
  background-color: var(--bacground-color2);
  width: 100%;
  height: 50%;
}
.h5-2{
  width: 319px;
  height: 63px;
  font-size: 26px;
  padding: 52px;
}
.footerp-2{
  margin:33.33px 0 0 55px ;
font-size: 12px;
line-height: 101.385%;
}
.h4-2{
width: 224px;
height: 74px;
font-size: 37px;
margin-left:50px ;

}
.text3-1p{
  width: 180px;
  margin: -25px 0 0 55px;
  font-size: 12px;
}
.text3-2p{
  width: 180px;
  margin: 7px 0 0 55px;
  font-size: 12px;
}

.text4 p{
  width: 185px;
  margin: 7px 0 0 30px;
  font-size: 12px;
}
.text3-text4{
  display: flex;
}

/* footerContainer2 end */

/* footerContainer3 start */
.footerContainer3{
  background-color: var(--bacground-color3);
  width: 100%;

}

.footerLogo img{
  margin: 23.3px 0 14px 56px ;
}
.icon-1{
  margin: 0 0 0 44px;
 
}
.icon-1 img{
  margin-left: 12px;
  width: 15px;
  height: 15px;
}
.logo-end{
  margin:47px 0 0 56px ;
  display: flex;
  flex-direction: column;
}
.logo-end p{
  color: white;
  font-size: 12px;
  height: 18px;
  margin-left: 10px;
 
}
.logo-end span{
  display: flex;

}
.end p{
  color: white;
  font-size:10px ;
  margin:68px 0 0 57px ;
  height: 30px;
 
}




/* footerContainer3 end */

/* footer end */

@media (min-width: 768px) {
  .container-HeaderLogo {
    padding: 22px 0 0 70.08px;
    width: 64.867px;
    height: 38.225px;
  }
  /* start */
  .logos {
    display: flex;
    margin: 56px 0 0 70px;
    gap: 14px;
  }
  .logos span {
    display: flex;
    gap: 8px;
  }
  /* end */

  /* start */
  .container-h1-p h1 {
    width: 363.717px;
    height: 110.042px;
    font-size: 46px;
    line-height: 101.385%; /* 46.637px */
  }
  .container-h1-p {
    margin: 7.53px 0 0 70.66px;
  }
  .container-h1-p-img1 img {
    top: 2.32px;
    right: 70.48px;
  }
  /* end*/

  /* start */
  .biography {
    width: 280.105px;
    height: 115.833px;
    padding: 11.15px 15.65px 39.24px 15.08px;
    color: #fff;
    background-color: var(--bacground-color);
    margin: 102px 0 0 305px;
  }
  .top {
    font-size: 13px;
    width: 239.383px;
    height: 65.446px;
  }
  .alt {
    width: 162.456px;
    height: 26.434px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
  }
  /* end */

  /* start */
  .coursep1-p2-img {
    display: flex;
  }
  .course h1 {
    width: 211.396px;
    height: 53.863px;
    margin-left: 70.08px;
  }
  .kinoCours {
    margin-left: 70.08px;
    height: 116px;
  }
  .kino {
    width: 360px;
  }
  .cours {
    width: 390px;
  }
  .coursep1-p2-img img {
    margin: 26px 0 0 80.02px;
  }
  /* end */
  /* header end */

  /* main start */

  /* group24 start */
  .group24 {
    display: flex;
  }
  .group24 img {
    display: block;
    width: 134px;
    height: 117px;
    margin: 130px 0 0 70.08px;
  }
  .group24-h6-Text {
    display: flex;
    flex-direction: row;
    margin: 168px 0 0 76px;
  }
  .group24-h6-Text p {
    font-size: 10px;
    width: 89px;
  }
  .text1-text2 {
    display: flex;
    gap: 33px;
  }
  .text3 {
    margin-top: 0;
    margin-left: 33px;
  }
  /* group24 end */

  /* vebinar zabriti start */
  .format h1 {
    line-height: 101.385%;
    margin: 104px 0 0 70.08px;
  }
  .vebinar123 {
    /* margin: 23px 0 0 35px ; */
    display: flex;
    margin: 51.55px 0 0 70.66px;
  }
  .vebinar123 h5 {
    font-size: 15px;
    line-height: 130%;
    color: #1e4681;
  }
  .online {
    width: 180px;
    font-size: 13px;
  }
  .vebinar {
    width: 210px;
    font-size: 13px;
  }
  .vebinar2 {
    margin: 0 40px 0 40px;
  }

  /* vebinar zabriti end */

  /* container ul-li-h5 start */
  .container-ul-li-h5 h5 {
    margin-left: 41px;
    height: 53px;
  }
  ul {
    margin-left: 60px;
    font-size: 14px;
  }
  /* container ul-li-h5 end */

  /* container-Rectangle-h5-p start */
  .cour h5 {
    margin: 56px 0 0 88px;
  }
  .container-Rectangle-h5-p {
    display: flex;
    flex-wrap: wrap;
    margin-left: 48px;

    width: 100%;

    position: relative;
  }
  .rectangles {
    margin-right: 21px;
    width: 211.088px;
    height: 189px;
    box-shadow: 0.579px 0.579px 8.688px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangles h5 {
    margin-bottom: 20px;
  }
  .rectangles img {
    width: 211.088px;
  }
  .rectangles p {
    margin-top: 0;
    font-size: 12px;
    margin-left: 8.85px;
  }

  /*container-Rectangle-h5-p end  */

  /* footer start */
  /* footerContainer start */
  .footerContainer {
    background-color: var(--bacground-color1);
    width: 100%;
    height: 50%;
  }
  .footerContainer h5 {
    width: 572px;
    height: 54px;
    margin: 47px 0 0 88.66px;
    font-size: 32px;
    line-height: 101.385%;
    padding: 32px 0 0 0;
  }
  .ekatrina1 {
    margin: 31px 0 0 88.66px;

    width: 458px;
    height: 248px;

    border-radius: 13.979px;
    background: #fff;
    box-shadow: 0.466px 0.466px 9.319px 0px rgba(0, 0, 0, 0.25);
  }
  .ekatrina1 p {
    margin: 0 0 0 21px;
    padding-top: 18px;
    font-size: 10px;
    width: 405px;
  }
  .yekatrina-img-h5-icon {
    margin-top: 100px;
    margin-left: 21px;
    display: flex;
  }
  .imgsvg {
    width: 80px;
    height: 84px;
  }
  .h5-icon {
    margin: 13px 0 0 13px;
  }
  .h5-icon h4 {
    height: 32px;
    font-size: 14px;
    line-height: 101.385%;
  }
  /* footerContainer end */

  /*footerContainer2 start  */
.footerContainer2 {
  background-color: var(--bacground-color2);
  width:100%;
  height: 50%;
}
.h5-2{
  width: 650px;
  font-size: 32px;
  padding-top: 92px;
  margin-left:41px ;
}
.footerp-2{
  margin:23.33px 0 0 95px ;
font-size: 14px;
line-height: 101.385%;
}
.h4-2{
width: 224px;
height: 94px;
font-size: 46px;
margin-left:95px ;

}
.text3-1p{
  width: 220px;
  margin-left: 68px;
  font-size: 12px;
  margin-top: 9px;
}
.text3-2p{
  width: 220px;
  margin-left: 68px;
  font-size: 12px;
}

.text4 p{
  width: 220px;
  margin: 7px 0 0 40px;
  font-size: 12px;
}

  

/* footerContainer2 end */


/* footerContainer3 start */
.footerContainer3{
  background-color: var(--bacground-color3);
  width: 100%;
  height: 50%;
  margin-right: 0;
  padding-right: 0;
}


.footerLogo img{
  margin: 33.3px 0 20px 96px ;
  width: 66px;
  height: 39px;
}
.icon-1{
  margin: 0 0 0 86px;
 
}
.icon-1 img{
  margin-left: 12px;
  width: 19px;
  height: 19px;
}
.logo-end{
  margin:-82px 0 0 665.27px ;
  display: flex;
  flex-direction: column;
}
.logo-end p{
  color: white;
  font-size: 14px;
  height: 23px;
  margin-left: 13px;
 
}
.logo-end span{
  display: flex;

}
.end p{
  color: white;
  font-size:10px ;
  margin:150px 0 0 96px ;
  height: 30px;
 
}




/* footerContainer3 end */

  /* footer end */
}

@media (min-width: 1400px) {
  /* start */
  .container-HeaderLogo {
    padding: 29px 0 0 104px;
    width: 112px;
    height: 66px;
  }
  .logos {
    display: flex;
    margin: 45px 0 0 121px;
    gap: 25px;
  }
  .logos span {
    display: flex;
    gap: 14px;
  }
  /* end */

  /* start */
  .container-h1-p h1 {
    width: 628px;
    height: 140px;
    font-size: 65px;
    line-height: 101.385%; /* 81.108px */
  }
  .container-h1-p {
    margin: 25px 0 0 122px;
  }
  .container-h1-p-img1 img {
    width: 204px;
    height: 256px;
    right: 400px;
    top: 1px;
  }
  /* end */

  /* start */
  .biography {
    position: relative;
    width: 360.635px;
    height: 135px;
    padding: 19.26px 27.02px 67.74px 26.03px;
    color: #fff;
    background-color: var(--bacground-color);
    margin: 110px 0 0 383px;
  }
  .top {
    font-size: 14px;
    width: 259.383px;
    height: 65.446px;
  }
  .alt {
    position: absolute;
    width: 280.499px;
    height: 55.641px;
    font-size: 14px;
    right: 2px;

    margin-top: 20px;
  }
  /* end */

  /* start */
  .course h1 {
    width: 365px;
    height: 90px;
    font-size: 55px;
    line-height: 101.385%; /* 55.762px */
    margin-left: 121px;
  }
  .coursep1-p2-img {
    position: relative;
  }
  .coursep1-p2-img img {
    width: 220px;
    height: 220px;
    position: absolute;
    margin-top: 15px;
    right: 330px;
  }
  .kinoCours {
    margin-left: 121px;
  }
  .kino {
    width: 394px;
  }
  /* end */

  /* group24 start */
  .group24 {
    display: flex;
  }
  .group24 img {
    display: block;
    width: 232px;
    height: 203px;
    margin: 190px 0 0 121px;
  }
  .group24-h6-Text {
    display: flex;
    flex-direction: row;
    margin: 258px 0 0 82px;
  }
  .group24-h6-Text p {
    font-size: 10px;
    width: 89px;
  }
  .text1-text2 {
    display: flex;
    gap: 33px;
  }
  .text3 {
    margin-top: 0;
    margin-left: 33px;
  }
  /* group24 end */

  /* format zabriti start */
  .format h1 {
    width: 667px;
    height: 93px;
    font-size: 55px;
    line-height: 101.385%;
    margin: 178px 0 0 121px;
  }
  .vebinar123 {
    /* margin: 23px 0 0 35px ; */
    display: flex;
    margin: 60px 0 0 122px;
    gap: 30px;
  }
  .vebinar123 h5 {
    font-size: 18px;
    line-height: 130%;
    color: #1e4681;
  }
  .online {
    width: 180px;
    font-size: 13px;
  }
  .vebinar {
    width: 210px;
    font-size: 13px;
  }
  .vebinar2 {
    margin: 0 90px 0 90px;
  }
  /* format zabriti end */

  /* container-ul-li-h5 start */
  .container-ul-li-h5 h5 {
    font-size: 55px;
    height: 93px;
    margin-left: 85px;
  }
  ul {
    font-size: 15px;
    margin-left: 110px;
  }
  /* container-ul-li-h5 end */

  /*container-Rectangle-h5-p start  */

  .cour h5 {
    margin: 56px 0 0 88px;
  }
  .container-Rectangle-h5-p {
    display: flex;
    flex-wrap: wrap;
    margin-left: 58px;

    width: 100%;

    position: relative;
  }
  .rectangles {
    margin-right: 37px;
    width: 399px;
    height: 250px;
    box-shadow: 0.579px 0.579px 8.688px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangles h5 {
    margin-bottom: 20px;
    margin-left: 15.85px;
  }
  .rectangles img {
    width: 399px;
  }
  .rectangles p {
    margin-top: 0;
    font-size: 12px;
    margin-left: 15.85px;
  }
  /* container-Rectangle-h5-p end */
  /* footer start */
  /* footerContainer start */
  .footerContainer {
    background-color: var(--bacground-color1);
    width: 1496px;
    height: 520px;
  }
  .footerContainer h5 {
    width: 987px;
    height: 93px;
    margin: 47px 0 0 121px;
    font-size: 55px;
    line-height: 101.385%;
    padding: 32px 0 0 0;
  }
  .ekatrina1 {
    margin: 31px 0 0 91px;

    width: 791px;
    height: 351px;

    border-radius: 13.979px;
    background: #fff;
    box-shadow: 0.466px 0.466px 9.319px 0px rgba(0, 0, 0, 0.25);
  }
  .ekatrina1 p {
    margin: 0 0 0 21px;
    padding-top: 18px;
    font-size: 20px;
    width: 700px;
  }
  .yekatrina-img-h5-icon {
    margin-top: 200px;
    margin-left: 21px;
    display: flex;
  }
  .imgsvg {
    width: 90px;
    height: 100px;
  }
  .h5-icon {
    margin: 13px 0 0 13px;
  }
  .h5-icon h4 {
    height: 39px;
    font-size: 30px;
    line-height: 101.385%;
  }
  /* footerContainer end */

    /*footerContainer2 start  */
.footerContainer2 {
  background-color: var(--bacground-color2);
  width: 100%;
  height: 50%;
}
.h5-2{
  width: 910px;
  font-size: 55px;
  padding-top: 102px;
  margin-left:66px ;
}
.footerp-2{
  margin:50.33px 0 0 120px ;
font-size: 25px;
line-height: 101.385%;
}
.h4-2{
width: 500px;
height: 100px;
font-size: 46px;
margin-left:120px ;

}
.text3-1p{
  width: 340px;
  margin-left: 92px;
  font-size: 18px;
}
.text3-2p{
  width: 340px;
  margin-left: 92px;
  font-size: 18px;
}

.text4 p{
  width: 340px;
  margin: 7px 0 0 80px;
  font-size: 18px;
}

  .footerContainer3{
    background-color: var(--bacground-color3);
  }

/* footerContainer2 end */


/* footerContainer3 start */
.footerContainer3{
  background-color: var(--bacground-color3);
  width: 100%;
  height: 50%;
}


.footerLogo img{
  margin: 83.3px 0 20px 120px ;
  width: 115px;
  height: 68px;
}
.icon-1{
  margin: 0 0 0 107px;
 
}
.icon-1 img{
  margin-left: 12px;
  width: 33px;
  height: 33px;
}
.logo-end{
  margin:-128px 0 0 1050px ;
  display: flex;
  flex-direction: column;
}
.logo-end img{
  width: 27px;
  height: 27px;
  margin-top: 5px;
 
}
.logo-end p{
  color: white;
  font-size: 25px;
  width: 230px;
  height: 40px;
  margin-left: 20px;
 
}
.logo-end span{
  display: flex;

}
.end p{
  color: white;
  font-size:18px ;
  margin:200px 0 0 118px ;
  height: 40px;
 
}




/* footerContainer3 end */

  /* footer end */
}
